html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Public Sans', sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a, a:visited, a:hover {
  text-decoration: none;
}

button, .button {
  cursor: pointer;
}

ul {
  list-style: none;
}

h1, h3 {
  font-family: "DM Serif Display", serif;
  font-size: 46px;
  color: white;
  margin: 0;
}

h3 {
  font-size: 26px;
}

p {
  font-family: "Karla", sans-serif;
  color: white;
}

.contentButton {
  border: 2px solid white;
  background: none;
  border-radius: 0;
  width: 152px;
  padding: 10px 25px;
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

.contentButton:hover {
  background-color: white;
  color: #2b272f;
  -webkit-transition: .1s;
  transition: .1s;
}

h6 {
  color: #837d87;
  font-size: 14px;
}

li {
  padding: 0 18px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  opacity: .8;
}

a {
  color: #2d2640;
  opacity: .8;
}

a:hover {
  opacity: 1;
}

#linkBtn {
  border: 2px solid black;
  background: none;
  border-radius: 0;
  padding: 10px 25px;
  color: #2d2640;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

#linkBtn:hover {
  background-color: black;
  color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 85px;
  background: white;
  z-index: -1;
}

.openHamburger, .moboNavSVG, .hideCloseBtn {
  display: none;
}

@media screen and (max-width: 827px) {
  .openHamburger {
    display: block;
  }
  .moboNavSVG {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 27px;
    width: 100%;
  }
  .hideCloseBtn {
    display: none;
  }
  .flex {
    margin: 20px 0;
  }
  .linksFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  li {
    padding: 18px 0;
    font-size: 21px;
  }
  a {
    color: white;
    opacity: 1;
  }
  .hamBG {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 84px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #2b272f;
    z-index: 1;
  }
  #linkBtn {
    font-size: 21px;
    color: white;
    border: 2px solid white;
    padding: 10px 110px;
  }
  #linkBtn:hover {
    background: none;
  }
}

@media screen and (max-width: 425px) {
  #linkBtn {
    font-size: 21px;
    color: white;
    border: 2px solid white;
    padding: 8px 70px;
  }
  #linkBtn:hover {
    background: none;
  }
}

#firstSection {
  position: absolute;
  top: 84px;
  height: 85%;
  width: 100%;
}

#firstSection::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #2d2640;
  z-index: -2;
}

.firstContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8%;
  padding-right: 4%;
}

.smallHR {
  width: 18%;
  margin: 0;
  margin-bottom: 50px;
}

.firstContentPic > img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 117px;
  right: 20px;
  height: 80vh;
  width: 70vh;
}

#svgLeftDesktop {
  z-index: -1;
  position: absolute;
  top: 70%;
}

#svgRightDesktop {
  position: absolute;
  top: 0%;
  right: 0;
}

#secondSection {
  position: absolute;
  top: 140%;
  height: 85%;
  width: 100%;
}

.secondContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 83%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8%;
  padding-right: 4%;
}

.secondContent > h1, .secondContent h3 {
  color: #2b272f;
}

.icon_1_content, .icon_2_content, .icon_3_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  padding: 0 15px;
}

.icon_1_content > p, .icon_2_content > p, .icon_3_content > p {
  color: #2d2640;
}

.icon_1_content > h3, .icon_2_content > h3, .icon_3_content > h3 {
  margin-top: 30px;
}

.iconsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 60px;
  width: 105%;
}

#thirdSection {
  position: absolute;
  top: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85%;
  width: 100%;
}

#thirdSection::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 44.5%;
  width: 82%;
  margin: auto;
  background: #2d2640;
  z-index: -2;
}

.thirdContent {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 12%;
  padding-right: 4%;
}

.thirdContent > button {
  width: 180px;
  height: 50px;
}

footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  top: 275%;
  width: 100%;
}

footer::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 275%;
  bottom: 0;
  height: 20rem;
  width: 100%;
  background: #fafafa;
  z-index: -2;
}

.logoAndIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 83%;
  height: 30px;
  margin: 0 auto;
  margin-top: 40px;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialIcons > svg {
  margin: 0 10px;
  cursor: pointer;
}

.socialIcons > svg:hover {
  opacity: .5;
  -webkit-transition: .2s;
  transition: .2s;
}

.footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 83%;
  margin: auto;
}

.footerLinkList {
  margin: 0;
  padding: 0;
}

.footerLinkList > li {
  padding: 0;
  margin: 8px 0;
}

#footerHR {
  margin-top: 30px;
  width: 83%;
}
/*# sourceMappingURL=style.css.map */